{% extends 'base.html.twig' %}

{% block title %}Edit Contrato{% endblock %}

{% block body %}
    <h1>Edit Contrato</h1>

    {{ include('contrato/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contrato_index') }}">back to list</a>

    {{ include('contrato/_delete_form.html.twig') }}
{% endblock %}
