{% extends 'base.html.twig' %}

{% block title %}New Contrato{% endblock %}

{% block body %}
    <h1>Create new Contrato</h1>

    {{ include('contrato/_form.html.twig') }}

    <a href="{{ path('contrato_index') }}">back to list</a>
{% endblock %}
