{% extends 'base.html.twig' %}

{% block title %}Edit Pedido{% endblock %}

{% block body %}
    <h1>Edit Pedido</h1>

    {{ include('pedido/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pedido_index') }}">back to list</a>

    {{ include('pedido/_delete_form.html.twig') }}
{% endblock %}
