{% extends 'base.html.twig' %}

{% block title %}New Pedido{% endblock %}

{% block body %}
    <h1>Create new Pedido</h1>

    {{ include('pedido/_form.html.twig') }}

    <a href="{{ path('pedido_index') }}">back to list</a>
{% endblock %}
